@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Zirva Zahid</title>
  
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="~/Content/CVdata/CSS/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/CVdata/CSS/styles.css" rel="stylesheet" />
    <script src="~/Content/CVdata/javascript/jquery.prettyPhoto.js"></script>
    <script src="~/Content/CVdata/javascript/jquery.easing.1.3.js"></script>
</head>

<body   >

    <div id="header">
        <div id="logo">
            <a href="#">

                <img src="~/Content/CVdata/images/logo.png" />
            </a>
        </div>
        <ul id="main-menu">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#work">Technical Skills</a></li>
            <li><a href="#connect">Contact</a></li>
            <li><a href="#education">Education</a></li>
        </ul>
    </div>

    <div id="container">

        <!--Begin About Section-->
        <div id="about">
            <h1>About</h1>

            <div class="top-divider"></div>
            <div class="content">
                <img src="~/Content/CVdata/images/designer-photo.jpg" />

                <h2>My Name is Zirva Zahid, and I am a programmer</h2>
                <p>
                    I have worked for myself and I understand the work to deadlines, meet delivery targets and to ensure that all aspects of a complex job are covered. I am very flexible about working hours.
                </p>
            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End About Section-->
        <!--Begin Experience Section-->
        <div id="experience">
            <h1>Experience</h1>
            <div class="top-divider"></div> <br /><br />
            <p>I have experience of team work as well as individual work. I have developed different kinds of games like case solving, flip flop, tic tac toe. I have also developed a calculator and Point Of Sale system and many other small projects. Right now, I am working on a musical web site.</p>
            <br /><br />

        </div>
        <div class="bottom-divider"></div>
    </div>
    <!--End Experience Section-->
    <div id="container">
        <!--Begin Work Section-->
        <div id="work">
            <h1>Technical Skills</h1>
            <div class="top-divider"></div> <br />
            <div class="content">
                <ul id="work-thumbs">
                    <h2>
                        ՉHTML, CSS, XML <h2 />
                        <h2>
                            ՉC#               <h2 />
                            <h2>
                                ՉC++            <h2 />
                                <h2>
                                    ՉAdobe Creative Suite (Photoshop, Illustrator, InDesign) <h2 />
                                    <h2>
                                        ՉWeb and graphic design   <h2 />
                                        <h2>	ՉExcellent time management skills </h2>
                                        <h2>	ՉStrong communication skills </h2>
                                        <h2>   ՉExtremely organized and detail oriented      </h2>
                                        <h2>	ՉCreative Art Skills <h2 />

                </ul>
            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End Work Section-->
        <!--Begin education Section-->
        <div id="education">
            <h1>Education</h1>

            <div class="top-divider"></div>
            <div class="content">
                <h2>
                    Bachelors in Information Technology <br> <h2 />
                    <p> <h3> 	Punjab University College of Information and Technology (2013-present) <h3 /> <p />

                    <h2>
                        Intermediate <br> <h2 />
                        <p>
                            <h3>
                                Superior College FSD (2011-2013)

                                <h2>	 Matriculation <br> <h3>
                        <p> <h3>	 Millat Grammar School (2009-2011)


            </div>
            <div class="bottom-divider"></div>
        </div>
        <!--End About Section-->
        <!--Begin Connect Section-->
        <div id="connect">
            <h1>Contact</h1>
            <div class="top-divider"></div>
            <div class="content">


                <h2>zirvazahid5@gmail.com</h2>
                <h2>03350623343</h2> <br> <br>

            </div>
        </div>
        <!--End Connect Section-->

    </div>


</body>
</html>


